<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39311021647-q1bg6kvrq5pmvmp497bevnpaf2ggmsjq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39311021647-q1bg6kvrq5pmvmp497bevnpaf2ggmsjq</string>
	<key>API_KEY</key>
	<string>AIzaSyCw-A4tFWexwpz0Ilh-PGDswAQjekAHFnk</string>
	<key>GCM_SENDER_ID</key>
	<string>39311021647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SemihKalayci.InstaCloneApp</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-f302c</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-f302c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39311021647:ios:cc6674bc623597a64ebc3a</string>
</dict>
</plist>